#history-panelmenu {
    /* Path to the file */
    list-style-image: url("../files/archive.svg") !important;
    
    /* These two lines are the 'magic' for Firefox/Browser UI */
    -moz-context-properties: fill !important;
    fill: color-mix(in srgb, currentColor 70%, transparent) !important; 

    
    padding-inline-start: 0px !important;
    height: 15px !important;
	margin-top: 1px !important;

}
#history-panelmenu image{
    list-style-image: url("../files/archive.svg") !important;
    scale: 0.9 !important;
    padding: 2px !important;
}
#downloads-indicator-anchor {
    /* Path to the file */
    list-style-image: url("../files/download.svg") !important;
    
    /* These two lines are the 'magic' for Firefox/Browser UI */
    
    -moz-context-properties: fill !important;
    fill: var(--toolbarbutton-icon-fill) !important;
    
    scale: 1.1 !important;
    padding-inline-start: 0px !important;
    height: 15px !important;
	margin-top: -0.005px !important;

}